:root {
  --bg-main: white;  
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--bg-main);
}

.content {
  max-width: 1024px;
  padding-inline: 6rem;
  margin-inline: auto;
}

.link {
  color: #3b82f6;
  font-size: 1.1rem;
}

.link.white {
  color: white;
}

.link:hover {
  text-decoration: underline;
}
