.content {
  max-width: 1280px;
  padding-top: 2rem;
}

#lists {
  padding-top: 4rem;
}

table>thead>tr>th,
table>tbody>tr>td {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
}

.code-header {
  display: flex;
  column-gap: 2rem;
  padding: 1rem 2rem;
  background-color: #111827;
  color: white;
}

.code {
  width: 100%;
  overflow: hidden;
  padding-block: 1rem;
  background-color: #1f2937;
  color: white;
}

.code .line-number {
  width: 48px;
  flex-shrink: 0;
  text-align: right;
  padding-inline: 0.5rem;
  user-select: none;
}

.code .line-content {
  padding-inline: 0.5rem;
  word-break: break-all;
  white-space: pre-wrap;
}

.goto-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  background-color: var(--bg-main);
  padding: 0.2rem 0.5rem;

  cursor: pointer;
}